<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Add Password</title>

  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="lib/material.css" rel="stylesheet" />
  <link href="styles/app.css" rel="stylesheet" />

  <script src="lib/material.js"></script>
  <script src="lib/angular.js"></script>

</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">Add Password</span>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="page-content">
        <div class="insert" ng-controller="InsertCtrl as vm">
          <form name="insertForm" no-validate>
            <fieldset ng-disabled="!vm.loaded">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="description" ng-model="vm.formData.description" required />
                <label class="mdl-textfield__label" for="description">Description...</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="username" ng-model="vm.formData.username" />
                <label class="mdl-textfield__label" for="username">Username...</label>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" id="password" ng-model="vm.formData.password" required />
                <label class="mdl-textfield__label" for="password">Password...</label>
              </div>
              <div class="">
                <button generate-password class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">generate</button>
                <button toggle-insert-view class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">cancel</button>
                <button save-password class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-disabled="insertForm.$invalid">save</button>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </main>
  </div>

</body>

</html>
