<div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">My todos</h2>
  </div>

  <div class="mdl-card__supporting-text">
    <!-- Todos input -->

    <form role="form" ng-submit="addTodo()">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="sample1" ng-model="todo">
        <label class="mdl-textfield__label" for="sample1">What need to be done?</label>
      </div>
      <button type="submit" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">add</i>
      </button>
    </form>

    <!-- Todos list -->
    <div class="demo-list-action mdl-list" ng-model="todos">
      <div class="mdl-list__item" ng-repeat="todo in todos">
        <span class="mdl-list__item-primary-content">
          <input class="mdl-textfield__input" type="text" ng-model="todo">
        </span>
        <button class="mdl-list__item-secondary-action" ng-click="removeTodo($index)" aria-label="Remove">
          <i class="material-icons">delete</i>
        </button>
      </div>
    </div>

  </div>
</div>
</div>
